@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

#c {
    margin: 5px; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0; 
    font-size: 19px; 
}

#c i {
    color: white; 
}